@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .animate-shine {
    animation: shine 2s infinite ease-in-out;
  }
}

@keyframes shine {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
